In [25]:
import numpy as np
import pandas as pd

1. Import the data set in Python

In [26]:
mel_house=pd.read_csv("Melbourne_housing_FULL.csv")

2. View the dataset

In [4]:
mel_house.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [5]:
#Find out the number of:
                        # Numeric attributes: 14
                        #Categorical attributes:17

In [6]:
mel_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
Suburb           34857 non-null object
Address          34857 non-null object
Rooms            34857 non-null int64
Type             34857 non-null object
Price            27247 non-null float64
Method           34857 non-null object
SellerG          34857 non-null object
Date             34857 non-null object
Distance         34856 non-null float64
Postcode         34856 non-null float64
Bedroom2         26640 non-null float64
Bathroom         26631 non-null float64
Car              26129 non-null float64
Landsize         23047 non-null float64
BuildingArea     13742 non-null float64
YearBuilt        15551 non-null float64
CouncilArea      34854 non-null object
Lattitude        26881 non-null float64
Longtitude       26881 non-null float64
Regionname       34854 non-null object
Propertycount    34854 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [7]:
mel_house.shape

(34857, 21)

In [8]:
#Data Preparation 
#1. remove Dups

In [9]:
mel_house.nunique() #to get no of unique data

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [10]:
mel_house_dups=mel_house[mel_house.duplicated()]

In [11]:
mel_house_dups.shape

(1, 21)

In [12]:
#De Duplicated dataframe----same rows-----
mel_house_dedups=mel_house.drop_duplicates()

In [13]:
mel_house_dedups.shape

(34856, 21)

In [14]:
#Data Preparation 
#2. Removing redundant variables---same column/values--
#   a. synonyms --same values--drop columns
#   b. homonyms--same variable /attribute name --rename

In [15]:
mel_house_less=pd.read_csv("MELBOURNE_HOUSE_PRICES_LESS.csv")

In [16]:
mel_house_less.shape

(63023, 13)

In [17]:
mel_house.shape

(34857, 21)

In [18]:
house=pd.merge(mel_house,mel_house_less,on='Suburb',how='inner')

In [19]:
house.shape

(13466323, 33)

In [20]:
house.head()

,Suburb,Address_x,Rooms_x,Type_x,Price_x,Method_x,SellerG_x,Date_x,Distance_x,Postcode_x,...,Type_y,Price_y,Method_y,SellerG_y,Date_y,Postcode_y,Regionname_y,Propertycount_y,Distance_y,CouncilArea_y
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,h,1350000.0,S,Biggin,1/07/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
4,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,t,NaN,PI,Biggin,1/09/2018,3067,Northern Metropolitan,4019,3.0,Yarra City Council

In [21]:
house=house.rename(columns={'Address_x' : 'hf_Address' , 'Rooms_x': 'hf_rooms', 'Type_x':'hf_type','Price_x':'hf_price','Method_x':'hf_method','SellerG_x':'hf_sellerG','Date_x':'hf_date','Distance_x':'hf_distance','Postcode_x':'hf_postcode','Type_y':'hl_type','Price_y':'hl_price','Method_y':'hl_method','SellerG_y':'hl_sellerG','Date_y':'hl_date','Distance_y':'hl_distance','Postcode_y':'hl_postcode','Regionname_y':'hl_regionname','Propertycount_y':'hl_propertycount','CouncilArea_y':'hl_councilArea','Regionname_y':'hl_regionname','Propertycount_y':'hl_propertycount','CouncilArea_y':'hl_councilArea'})

In [22]:
house.head()

,Suburb,hf_Address,hf_rooms,hf_type,hf_price,hf_method,hf_sellerG,hf_date,hf_distance,hf_postcode,...,hl_type,hl_price,hl_method,hl_sellerG,hl_date,hl_postcode,hl_regionname,hl_propertycount,hl_distance,hl_councilArea
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,h,1350000.0,S,Biggin,1/07/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
4,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,t,NaN,PI,Biggin,1/09/2018,3067,Northern Metropolitan,4019,3.0,Yarra City Council

In [23]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13466323 entries, 0 to 13466322
Data columns (total 33 columns):
Suburb              object
hf_Address          object
hf_rooms            int64
hf_type             object
hf_price            float64
hf_method           object
hf_sellerG          object
hf_date             object
hf_distance         float64
hf_postcode         float64
Bedroom2            float64
Bathroom            float64
Car                 float64
Landsize            float64
BuildingArea        float64
YearBuilt           float64
CouncilArea_x       object
Lattitude           float64
Longtitude          float64
Regionname_x        object
Propertycount_x     float64
Address_y           object
Rooms_y             int64
hl_type             object
hl_price            float64
hl_method           object
hl_sellerG          object
hl_date             object
hl_postcode         int64
hl_regionname       object
hl_propertycount    int64
hl_distance         float64
hl_councilArea      object
dtypes: float64(14), int64(4), object(15)
memory usage: 3.4+ GB